@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{ 
    background: #0066ff;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) {
    color: #fff;
}
section:nth-child(2) {
    color: #000;
    background-color: #fff;
}
section:nth-child(3) {
    color: #fff;
}
section:nth-child(4) {
    color: #000;
    background-color: #fff;
}

section:nth-child(5) {
    color: #fff;
}